html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img　 {
  display: block;
  max-width: 100%;
  height: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}
.primary {
  color: #ffffff;
}
.secondary {
  color: #650300;
}
.bg-primary {
  background: #aa0601;
}
.bg-secondary {
  background: #aa06010d;
}
.d-inline {
  display: inline;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.j-center {
  justify-content: center;
}
.js-around {
  justify-content: space-around;
}
.js-between {
  justify-content: space-between;
}
.jf-start {
  justify-content: flex-start;
}
.a-center {
  align-items: center;
}
.pl-16 {
  padding-left: 16px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-32 {
  padding-left: 32px;
}
.pl-36 {
  padding-left: 36px;
}
.pl-48 {
  padding-left: 48px;
}
.pl-64 {
  padding-left: 64px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-28 {
  padding-bottom: 28px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pt-19 {
  padding-top: 19px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-36 {
  padding-top: 36px;
}
.pt-48 {
  padding-top: 48px;
}
.ml-30 {
  margin-left: 30px;
}
.mb-80 {
  margin-bottom: 80px;
}
.lh-24 {
  line-height: 24px;
}
.h2-style {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 60px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 690px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 345px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aa0601;
  padding: 30px 56px 30px 88px;
}
.logo {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  height: 50px;
  background-repeat: no-repeat;
  display: block;
}
.menu {
  display: flex;
}
.menu a {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  font-family: Noto Sans;
  display: block;
  padding: 10px 32px;
}
.menu a:hover {
  color: #fab1a0;
}
@media (max-width: 992px) {
  .header {
    padding: 30px 19px 30px 39px;
  }
  .menu a {
    padding: 10px 20px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 0px 0px;
  }
  .menu {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10q;
  }
  .menu li {
    width: 50%;
    padding-left: 0;
    border: 1px solid #ffffff;
  }
  .menu a {
    padding: 8px 50px;
  }
}
.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 840px;
}
.banner-inner p {
  font-size: 36px;
  line-height: 54px;
  color: #650300;
  font-family: Noto Sans;
}
.banner-inner h2 {
  font-size: 64px;
  line-height: 96px;
  font-weight: bold;
  color: #650300;
  font-family: Noto Sans;
}
@media (max-width: 992px) {
  .banner-inner p {
    font-size: 20px;
    line-height: 30px;
    font-family: 蘋方-繁;
  }
  .banner-inner h2 {
    font-size: 48px;
    line-height: 72px;
  }
}
@media (max-width: 767px) {
  .banner {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
  }
  .banner-inner {
    height: 394px;
  }
  .banner-inner p {
    font-size: 16px;
  }
  .banner-inner h2 {
    font-size: 32px;
  }
}
.profession {
  background: #aa06010d;
  text-align: center;
}
.profession h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 60px;
  color: #650300;
  font-family: Noto Sans;
}
.profession-inner {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 80px;
}
.profession-inner h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #650300;
  margin-top: 40px;
  font-family: Noto Sans;
}
.profession-inner p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-family: Noto Sans;
}
.profession-inner li {
  width: 20%;
}
@media (max-width: 992px) {
  .profession h2 {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .profession-inner {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .profession-inner li {
    width: 48%;
  }
  .profession-inner img {
    width: 80px;
    height: 80px;
  }
  .profession-inner h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
  }
  .profession-inner p {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .order-1 {
    order: -2;
  }
  .order-2 {
    order: -1;
  }
}
@media (max-width: 767px) {
  .profession h2 {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 20px;
  }
  .profession-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
  }
  .profession-inner li {
    width: 63.4%;
  }
  .profession-inner p {
    width: 100%;
  }
}
.classic {
  margin-bottom: 48px;
}
.classic h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 60px;
  color: #650300;
  font-family: Noto Sans;
}
.commodity {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.commodity img {
  width: 57.2%;
  height: auto;
}
.commodity:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.commodity-body:nth-child(n) {
  margin-right: 30px;
}
.commodity-body:nth-child(2n) {
  margin-left: 30px;
}
.commodity-body {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.commodity-body img {
  width: 48px;
  height: 48px;
}
.hide {
  display: none;
}
.commodity-body span {
  padding-left: 8px;
  font-size: 48px;
  line-height: 72px;
  color: #aa0601;
  font-family: Roboto;
}
@media (max-width: 992px) {
  .classic {
    margin-bottom: 32px;
  }
  .classic h2 {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .commodity {
    padding-bottom: 8px;
  }
  .commodity img {
    width: 56.5%;
  }
  .commodity-body img {
    width: 32px;
    height: 32px;
  }
  .commodity:nth-child(2n + 1) {
    flex-direction: row;
  }
  .commodity-body span {
    font-size: 28px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .classic {
    margin-bottom: 24px;
  }
  .classic h2 {
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .commodity {
    flex-direction: column;
    position: relative;
  }
  .commodity img {
    width: 100%;
  }
  .commodity-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .commodity-body:nth-child(n) {
    margin-right: 0px;
  }
  .commodity-body:nth-child(2n) {
    margin-left: 0px;
  }
  .commodity-body span {
    color: #ffffff;
  }
  .show {
    display: none;
  }
  .hide {
    display: block;
  }
}
.jointDesign {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 743px;
}
.jointDesign h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 60px;
  color: #ffffff;
  font-family: Noto Sans;
}
.jointDesign-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jointDesign-inner li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jointDesign-inner a {
  font-size: 72px;
  line-height: 108px;
  font-weight: bold;
  color: #aa0601;
  font-family: Roboto;
  text-decoration: none;
}
.jointDesign-inner a:hover {
  color: #fff;
}
.double {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
}
.youth {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
}
@media (max-width: 992px) {
  .jointDesign {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }
  .jointDesign h2 {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .jointDesign-inner a {
    font-size: 32px;
    line-height: 43px;
  }
  .double {
    width: 330px;
    height: 280px;
  }
  .youth {
    width: 330px;
    height: 280px;
  }
}
@media (max-width: 767px) {
  .jointDesign {
    padding-bottom: 16px;
  }
  .jointDesign h2 {
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .jointDesign-inner {
    flex-direction: column;
  }
  .jointDesign-inner li {
    margin-bottom: 16px;
  }
}
.recommend {
  padding-bottom: 64px;
}
.recommend h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 60px;
  color: #650300;
  font-family: Noto Sans;
}
.recommend-inner {
  display: flex;
  justify-content: space-between;
}
.recommend-inner li {
  border: 1px solid #dee2e6;
  width: 23%;
}
.recommend-inner img {
  max-width: 100%;
  height: auto;
}
.recommend-inner h4 {
  font-size: 14px;
  line-height: 21px;
  padding: 14px 16px 0px 16px;
  font-family: Roboto;
}
.recommend-inner p {
  line-height: 24px;
  padding: 0px 16px;
  font-family: Roboto;
}
.recommend-inner .updated {
  color: #707070;
  padding-bottom: 15px;
}
@media (max-width: 992px) {
  .recommend {
    padding-bottom: 13px;
  }
  .recommend h2 {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .recommend-inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .recommend-inner li {
    width: 47.8%;
    margin-bottom: 28px;
  }
  .recommend-inner li:not(:first-child) {
    margin-left: 0px;
  }
  .recommend-inner img {
    width: 100%;
    height: auto;
  }
  .recommend-inner h4 {
    padding: 16px;
  }
  .recommend-inner p {
    padding: 0px 16px 16px 16px;
  }
  .recommend-inner .updated {
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .recommend {
    padding-bottom: 16px;
  }
  .recommend h2 {
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .recommend-inner {
    flex-direction: column;
  }
  .recommend-inner li {
    width: 100%;
    margin-bottom: 16px;
  }
}
.contact {
  background: #aa06010d;
}
.contact-inner {
  width: 730px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.contact-inner h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 24px;
  font-family: Noto Sans;
}
.contact-inner-text {
  line-height: 30px;
  padding-bottom: 20px;
  font-family: Noto Sans;
}
.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.contact-form-group input,
.contact-form-group textarea {
  background: #aa06010d;
  display: block;
  width: 100%;
  padding: 8px 12px;
}
.contact-form-group label {
  line-height: 24px;
  font-family: Noto Sans;
}
.checkbox {
  display: flex;
}
.checkbox input {
  width: 20px;
  height: 20px;
}
.checkbox p {
  display: inline;
  line-height: 24px;
  font-family: Noto Sans;
  padding-left: 4px;
}
.button {
  text-align: center;
}
.submit {
  margin-top: 42px;
  width: 350px;
  font-weight: bold;
  padding: 16px 0px;
  background: #aa0601;
  color: #ffffff;
  font-family: Noto Sans;
  cursor: pointer;
}
.submit:hover {
  color: #fab1a0;
}
@media (max-width: 992px) {
  .contact-inner {
    width: 65.2%;
    padding-bottom: 40px;
  }
  .contact-inner h2 {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .contact-inner-text {
    line-height: 24px;
    padding-bottom: 12px;
  }
  .contact-form-group {
    margin-bottom: 8px;
  }
  .contact-form-group label {
    font-size: 14px;
    line-height: 21px;
  }
  .checkbox input {
    width: 18px;
    height: 18px;
  }
  .checkbox p {
    font-size: 14px;
    line-height: 21px;
  }
  .submit {
    margin-top: 20px;
    width: 30.4%;
    font-size: 14px;
    line-height: 21px;
    padding: 7px 0px;
  }
}
@media (max-width: 767px) {
  .contact-inner {
    width: 100%;
    padding-bottom: 32px;
  }
  .contact-inner h2 {
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .submit {
    margin-top: 24px;
    width: 47.8%;
    padding: 8px 0px;
  }
}
.footer {
  background: #aa0601;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.footer-inner-left-menu {
  display: flex;
  padding-top: 31px;
}
.footer-inner-left-menu li:not(:first-child) {
  margin-left: 48px;
}
.footer-inner-left-menu a {
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  font-family: Noto Sans;
  display: block;
  padding: 17px 0px;
}
.footer-inner-left-menu a:hover {
  color: #fab1a0;
}
.service {
  margin-top: 19px;
}
.server img {
  width: 48px;
  height: 48px;
}
.service a {
  font-size: 36px;
  line-height: 54px;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  display: flex;
  align-items: center;
}
.service a:hover {
  color: #fab1a0;
}
.service span {
  padding-left: 17px;
  vertical-align: middle;
}
.footer-inner-right-menu {
  display: flex;
  padding-top: 36px;
}
.footer-inner-right-menu li {
  padding-left: 32px;
}
@media (max-width: 992px) {
  .footer-inner {
    padding-bottom: 24px;
  }
  .footer-inner-left-menu {
    padding-top: 23px;
  }
  .footer-inner-left-menu li:not(:first-child) {
    margin-left: 40px;
  }
  .service {
    margin-top: 8px;
  }
  .service img {
    width: 32px;
    height: 32px;
  }
  .service a {
    font-size: 20px;
    line-height: 30px;
  }
  .footer-inner-right-menu {
    padding-top: 40px;
  }
  .footer-inner-right-menu li {
    padding-left: 24px;
  }
  .footer-inner-right-menu img {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .footer-inner {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-inner-left-menu {
    display: none;
  }
  .service {
    margin-top: 0;
  }
  .service:not(:first-child) {
    margin-top: 8px;
  }
  .service img {
    width: 20px;
    height: 20px;
  }
  .service a {
    font-size: 16px;
  }
  .footer-inner-right-menu {
    padding-top: 0px;
  }
}
.footer-copyright {
  background: #aa0601;
}
.footer-copyright-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  display: flex;
  justify-content: space-between;
  width: 91.5%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 12px;
}
.copyright p {
  line-height: 24px;
  color: #ffffff;
  font-family: Roboto;
}
.privacy a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  margin-left: 64px;
  font-family: Noto Sans;
}
@media (max-width: 992px) {
  .footer-copyright-inner .logo {
    display: none;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 24px;
    padding-left: 0px;
  }
  .privacy a {
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .footer-copyright-inner {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer-copyright-inner .logo {
    display: block;
    width: 46px;
    height: 28px;
    background-size: contain;
    margin-bottom: 25px;
  }
  .copyright {
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 25px;
  }
  .privacy a {
    display: block;
    margin-left: 0;
    margin-top: 7px;
  }
}
